@import url("https://fonts.googleapis.com/css?family=Carter+One");
@font-face {
  font-family: Hand;
  src: url("./font/Thin\ Pencil\ Handwriting.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Carter One", sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
